checkpoint_2/flows.json
[
    {
        "id": "2b4350980b84d542",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fcdebc18a2b9b832",
        "type": "gauth",
        "name": "read-write-gsheet-node-red@fiapflix.iam.gserviceaccount.com"
    },
    {
        "id": "3838a5fbee2aca48",
        "type": "ui_tab",
        "name": "Catálogo",
        "icon": "theaters",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3368220ed7092bbb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c21bd2f5459b7c6",
        "type": "ui_tab",
        "name": "Acesso Usuário",
        "icon": "login",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa91e2b4459eb88a",
        "type": "ui_group",
        "name": "Clube da Luta",
        "tab": "3838a5fbee2aca48",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac0fd183e4c0c506",
        "type": "ui_group",
        "name": "A Origem",
        "tab": "3838a5fbee2aca48",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e472f37a9e6bb690",
        "type": "ui_group",
        "name": "Matrix",
        "tab": "3838a5fbee2aca48",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99f7765a2ea4223e",
        "type": "ui_group",
        "name": "Seja Bem-vindo(a) à FiapFlix",
        "tab": "3368220ed7092bbb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17fe0df8b29e0cf7",
        "type": "ui_group",
        "name": "Acesso à Plataforma",
        "tab": "2c21bd2f5459b7c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6e235e31c1d38c3",
        "type": "ui_group",
        "name": "Criar conta",
        "tab": "2c21bd2f5459b7c6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d39a63b7b8f8ce8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "FIAPflix",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "40709156946d1320",
        "type": "ui_tab",
        "name": "Acesso Admin",
        "icon": "login",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ba6f6515cf63106a",
        "type": "ui_group",
        "name": "Login Administradores",
        "tab": "40709156946d1320",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca82963075c6e7f7",
        "type": "ui_tab",
        "name": "Cine Admin",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8d930fe3b495cdc0",
        "type": "ui_group",
        "name": "Filmes cadastrados",
        "tab": "ca82963075c6e7f7",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8a36cd0c79215ca",
        "type": "ui_media",
        "z": "2b4350980b84d542",
        "group": "fa91e2b4459eb88a",
        "name": "",
        "width": "0",
        "height": "0",
        "order": 2,
        "category": "FilmesDisponiveis",
        "file": "clubedaluta.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 510,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "d870b1ef7647392a",
        "type": "ui_button",
        "z": "2b4350980b84d542",
        "name": "",
        "group": "fa91e2b4459eb88a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "assistir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "Clube da Luta",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "f8a36cd0c79215ca",
                "1604129071afc214"
            ]
        ]
    },
    {
        "id": "b506ecd16c7d99c6",
        "type": "ui_media",
        "z": "2b4350980b84d542",
        "group": "ac0fd183e4c0c506",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "FilmesDisponiveis",
        "file": "Aorigem_.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 510,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "61adbd6c81ebcb4d",
        "type": "ui_button",
        "z": "2b4350980b84d542",
        "name": "",
        "group": "ac0fd183e4c0c506",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "assistir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "A Origem",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "b506ecd16c7d99c6",
                "1604129071afc214"
            ]
        ]
    },
    {
        "id": "28424d74da6dc0a4",
        "type": "ui_media",
        "z": "2b4350980b84d542",
        "group": "e472f37a9e6bb690",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "FilmesDisponiveis",
        "file": "matrix.JPG",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 510,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "3419287db60f0bd2",
        "type": "ui_button",
        "z": "2b4350980b84d542",
        "name": "",
        "group": "e472f37a9e6bb690",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "assistir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "Matrix",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "28424d74da6dc0a4",
                "1604129071afc214"
            ]
        ]
    },
    {
        "id": "c148b5b998597505",
        "type": "ui_button",
        "z": "2b4350980b84d542",
        "name": "",
        "group": "99f7765a2ea4223e",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Usuário",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Acesso Usuário",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "d648b3e2ef43fccf"
            ]
        ]
    },
    {
        "id": "d648b3e2ef43fccf",
        "type": "ui_ui_control",
        "z": "2b4350980b84d542",
        "name": "",
        "events": "all",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "71e88d5e5b1a6f28",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Flow entre as páginas externas",
        "info": "",
        "x": 210,
        "y": 100,
        "wires": []
    },
    {
        "id": "1a7ce4a2c069c28e",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Mídias do catálogo",
        "info": "",
        "x": 190,
        "y": 740,
        "wires": []
    },
    {
        "id": "ae02dd6b94fecb4e",
        "type": "ui_form",
        "z": "2b4350980b84d542",
        "name": "",
        "label": "",
        "group": "17fe0df8b29e0cf7",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "usuário",
                "value": "user",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "password": ""
        },
        "payload": "",
        "submit": "acessar",
        "cancel": "Limpar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "ff92db2a51c19531"
            ]
        ]
    },
    {
        "id": "85436f7f9416cb81",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Login Usuário",
        "info": "",
        "x": 170,
        "y": 1260,
        "wires": []
    },
    {
        "id": "97247f804098c7d1",
        "type": "http request",
        "z": "2b4350980b84d542",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://swjeutfatzblzzfgssjv.supabase.co/rest/v1/db_user?select=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3amV1dGZhdHpibHp6Zmdzc2p2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDUzMjM1OT ksImV4cCI6MjAyMDg5OTU5OX0.W-UuHIPi0HunFAyqOHuKTuqe2U8mQoZCe82n9S0l-10"
            }
        ],
        "x": 600,
        "y": 1320,
        "wires": [
            [
                "e95309d53e94374e"
            ]
        ]
    },
    {
        "id": "ff92db2a51c19531",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1320,
        "wires": [
            [
                "97247f804098c7d1"
            ]
        ]
    },
    {
        "id": "e95309d53e94374e",
        "type": "split",
        "z": "2b4350980b84d542",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 810,
        "y": 1320,
        "wires": [
            [
                "7b44dee6150ff1e6",
                "db95ca8e20c7ebc0"
            ]
        ]
    },
    {
        "id": "7b44dee6150ff1e6",
        "type": "switch",
        "z": "2b4350980b84d542",
        "name": "",
        "property": "payload.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "a028eac7bb4036e6"
            ],
            []
        ]
    },
    {
        "id": "acf773296cd94bf2",
        "type": "switch",
        "z": "2b4350980b84d542",
        "name": "Usuário",
        "property": "Banco.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1380,
        "y": 1300,
        "wires": [
            [
                "a9c6f36b65745e06",
                "3280902717c30f1a"
            ],
            [
                "8ff0c6eccfc975e5"
            ]
        ]
    },
    {
        "id": "a9c6f36b65745e06",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Banco.status.user",
                "pt": "msg",
                "to": "Usuário Correto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 1280,
        "wires": [
            [
                "be651a6ae104cb1a"
            ]
        ]
    },
    {
        "id": "8ff0c6eccfc975e5",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "Notificação",
        "rules": [
            {
                "t": "set",
                "p": "Banco.user",
                "pt": "msg",
                "to": "Usuário Inválido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 1380,
        "wires": [
            [
                "b250daa095835a04"
            ]
        ]
    },
    {
        "id": "2e726e8bdbd6fa28",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Validação Usuário",
        "info": "",
        "x": 1590,
        "y": 1240,
        "wires": []
    },
    {
        "id": "be651a6ae104cb1a",
        "type": "switch",
        "z": "2b4350980b84d542",
        "name": "Senha",
        "property": "login.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Banco.password",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "Banco.password",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1890,
        "y": 1180,
        "wires": [
            [
                "04ea4583eb3bc8dd"
            ],
            [
                "66792f3465430215"
            ]
        ]
    },
    {
        "id": "0b0803c8dd81d7e6",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Validação Senha",
        "info": "",
        "x": 1920,
        "y": 1120,
        "wires": []
    },
    {
        "id": "04ea4583eb3bc8dd",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "Acesso Autorizado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Login autorizado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2130,
        "y": 1160,
        "wires": [
            [
                "b250daa095835a04",
                "55664be1318b0a38"
            ]
        ]
    },
    {
        "id": "66792f3465430215",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "Senha Inválida",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Senha Inválida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2120,
        "y": 1220,
        "wires": [
            [
                "b250daa095835a04"
            ]
        ]
    },
    {
        "id": "a028eac7bb4036e6",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "Banco",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1300,
        "wires": [
            [
                "acf773296cd94bf2"
            ]
        ]
    },
    {
        "id": "d4ba456a5be386cf",
        "type": "template",
        "z": "2b4350980b84d542",
        "name": "Mostrar Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"show\": [\n            \"Catálogo\",\n             \"Home\",\n             \"Acesso Usuário\"\n        ]\n    }\n}",
        "output": "json",
        "x": 2800,
        "y": 1240,
        "wires": [
            [
                "2996846754f7f245",
                "0f2a2ab263f91d24"
            ]
        ]
    },
    {
        "id": "2996846754f7f245",
        "type": "template",
        "z": "2b4350980b84d542",
        "name": "Esconder Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"hide\": [\n            \"Acesso Admin\",\n            \"Cine Admin\"\n        ]\n    }\n}",
        "output": "json",
        "x": 3060,
        "y": 1240,
        "wires": [
            [
                "0f2a2ab263f91d24"
            ]
        ]
    },
    {
        "id": "55664be1318b0a38",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Catálogo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2510,
        "y": 1160,
        "wires": [
            [
                "d4ba456a5be386cf",
                "24822fc5c4ef46ea",
                "0f2a2ab263f91d24"
            ]
        ]
    },
    {
        "id": "7bbbcac4236665ba",
        "type": "ui_ui_control",
        "z": "2b4350980b84d542",
        "name": "",
        "events": "all",
        "x": 1600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "637cc35437b80e91",
        "type": "ui_ui_control",
        "z": "2b4350980b84d542",
        "name": "",
        "events": "all",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "586eee780c61c851"
            ]
        ]
    },
    {
        "id": "972245bd0624b9e5",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 140,
        "wires": [
            [
                "7bbbcac4236665ba"
            ]
        ]
    },
    {
        "id": "586eee780c61c851",
        "type": "switch",
        "z": "2b4350980b84d542",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "972245bd0624b9e5",
                "064d5fe40cfba07f"
            ]
        ]
    },
    {
        "id": "064d5fe40cfba07f",
        "type": "template",
        "z": "2b4350980b84d542",
        "name": "Esconder Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"hide\": [\n            \"Cine Admin\",\n            \"Catálogo\"\n        ]\n    }\n}",
        "output": "json",
        "x": 1300,
        "y": 200,
        "wires": [
            [
                "7bbbcac4236665ba"
            ]
        ]
    },
    {
        "id": "cc34a0026833c05a",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Esconder Páginas Usuário",
        "info": "",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "b250daa095835a04",
        "type": "ui_toast",
        "z": "2b4350980b84d542",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2430,
        "y": 1380,
        "wires": []
    },
    {
        "id": "24822fc5c4ef46ea",
        "type": "debug",
        "z": "2b4350980b84d542",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2740,
        "y": 1360,
        "wires": []
    },
    {
        "id": "8e534b351bae65ca",
        "type": "ui_button",
        "z": "2b4350980b84d542",
        "name": "",
        "group": "17fe0df8b29e0cf7",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "voltar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "d648b3e2ef43fccf"
            ]
        ]
    },
    {
        "id": "387e933c461d0622",
        "type": "csv",
        "z": "2b4350980b84d542",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1670,
        "y": 980,
        "wires": [
            [
                "d5f94b42b3e4091b"
            ]
        ]
    },
    {
        "id": "d5f94b42b3e4091b",
        "type": "file",
        "z": "2b4350980b84d542",
        "name": "",
        "filename": "C:\\FIAP_PosTech\\Lista_filmes.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1940,
        "y": 980,
        "wires": [
            [
                "aa13f3d9e5375a99"
            ]
        ]
    },
    {
        "id": "fa91d2050dfdec49",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "a51a57f7d80adbd9"
            ]
        ]
    },
    {
        "id": "1604129071afc214",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "filme",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "dd0c61bcdbd9d6d3",
                "fa91d2050dfdec49"
            ]
        ]
    },
    {
        "id": "a51a57f7d80adbd9",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hora",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1120,
        "wires": [
            [
                "ffdba3ca1a172b8d"
            ]
        ]
    },
    {
        "id": "dd0c61bcdbd9d6d3",
        "type": "join",
        "z": "2b4350980b84d542",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1490,
        "y": 960,
        "wires": [
            [
                "387e933c461d0622",
                "2864bba0dd874cba"
            ]
        ]
    },
    {
        "id": "2864bba0dd874cba",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Comecei a assistir o filme \" & payload.filme",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Assistindo agora no FiapFLix",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 900,
        "wires": [
            [
                "3797255b13619afc"
            ]
        ]
    },
    {
        "id": "3797255b13619afc",
        "type": "debug",
        "z": "2b4350980b84d542",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 820,
        "wires": []
    },
    {
        "id": "df3d172875740f08",
        "type": "ui_form",
        "z": "2b4350980b84d542",
        "name": "",
        "label": "",
        "group": "c6e235e31c1d38c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Insira um e-mail",
                "value": "user",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Crie uma senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "password": ""
        },
        "payload": "",
        "submit": "Criar conta",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "1a057d9827f61016"
            ]
        ]
    },
    {
        "id": "97ada967ba6bf90c",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Register",
        "info": "",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "bae852d305b77bbe",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Equipe Grupo N",
        "info": "-Ariel Morikuni\n-Bruna Morimitsu\n-Carolyne Carvalho",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "1a057d9827f61016",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "novoUsuario",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "20978f770bd4342a"
            ]
        ]
    },
    {
        "id": "20978f770bd4342a",
        "type": "http request",
        "z": "2b4350980b84d542",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Prefer",
                "valueType": "other",
                "valueValue": "return=minimal"
            }
        ],
        "x": 570,
        "y": 460,
        "wires": [
            [
                "5c73b2cb2ff1e501"
            ]
        ]
    },
    {
        "id": "b5b0d4f33adf9af9",
        "type": "ui_toast",
        "z": "2b4350980b84d542",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "5c73b2cb2ff1e501",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "Usuario Criado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuário cadastrado com sucesso",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "b5b0d4f33adf9af9"
            ]
        ]
    },
    {
        "id": "7c017c35d1648fdc",
        "type": "debug",
        "z": "2b4350980b84d542",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2680,
        "y": 980,
        "wires": []
    },
    {
        "id": "ffdba3ca1a172b8d",
        "type": "moment",
        "z": "2b4350980b84d542",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "America/Sao_Paulo",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD-HH-mm",
        "locale": "pt-BR",
        "output": "",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 1260,
        "y": 1060,
        "wires": [
            [
                "dd0c61bcdbd9d6d3"
            ]
        ]
    },
    {
        "id": "3280902717c30f1a",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "login.user",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1180,
        "wires": [
            [
                "696843a30604749c"
            ]
        ]
    },
    {
        "id": "696843a30604749c",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "email",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 1100,
        "wires": [
            [
                "dd0c61bcdbd9d6d3"
            ]
        ]
    },
    {
        "id": "aa13f3d9e5375a99",
        "type": "GSheet",
        "z": "2b4350980b84d542",
        "creds": "fcdebc18a2b9b832",
        "method": "append",
        "action": "",
        "sheet": "1gecRAZl62zvUNgpho9J6IbqlGvwcFzDt1C4QoT3mBVU",
        "cells": "Sheet1!A2:A100",
        "flatten": false,
        "name": "",
        "x": 2370,
        "y": 980,
        "wires": [
            [
                "7c017c35d1648fdc"
            ]
        ]
    },
    {
        "id": "65ba4ddbc9573cde",
        "type": "ui_button",
        "z": "2b4350980b84d542",
        "name": "",
        "group": "99f7765a2ea4223e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Administrador",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Acesso Admin",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "d648b3e2ef43fccf"
            ]
        ]
    },
    {
        "id": "5cd6d5b6c6a277c2",
        "type": "ui_button",
        "z": "2b4350980b84d542",
        "name": "",
        "group": "ba6f6515cf63106a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "voltar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "d648b3e2ef43fccf"
            ]
        ]
    },
    {
        "id": "3f9dd1a5ccf34176",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Login Admin",
        "info": "",
        "x": 190,
        "y": 1840,
        "wires": []
    },
    {
        "id": "3ac38bae8babc10d",
        "type": "ui_form",
        "z": "2b4350980b84d542",
        "name": "",
        "label": "",
        "group": "ba6f6515cf63106a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "usuário",
                "value": "user",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "password": ""
        },
        "payload": "",
        "submit": "acessar",
        "cancel": "Limpar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 170,
        "y": 1900,
        "wires": [
            [
                "e6ffded7e7bc16a7"
            ]
        ]
    },
    {
        "id": "e6ffded7e7bc16a7",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "topic",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "dae7f9e77c63c163"
            ]
        ]
    },
    {
        "id": "dae7f9e77c63c163",
        "type": "http request",
        "z": "2b4350980b84d542",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://swjeutfatzblzzfgssjv.supabase.co/rest/v1/db_user?select=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3amV1dGZhdHpibHp6Zmdzc2p2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDUzMjM1OTksImV4cCI6MjAyMDg5OTU5OX0.W-UuHIPi0HunFAyqOHuKTuqe2U8mQoZCe82n9S0l-10"
            }
        ],
        "x": 620,
        "y": 1900,
        "wires": [
            [
                "21a48a5982d47c91"
            ]
        ]
    },
    {
        "id": "21a48a5982d47c91",
        "type": "split",
        "z": "2b4350980b84d542",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 790,
        "y": 1900,
        "wires": [
            [
                "826db800a3ba2d43"
            ]
        ]
    },
    {
        "id": "826db800a3ba2d43",
        "type": "switch",
        "z": "2b4350980b84d542",
        "name": "",
        "property": "payload.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 1900,
        "wires": [
            [
                "7af0243b045eebf5"
            ],
            []
        ]
    },
    {
        "id": "ee18fd6281143c3f",
        "type": "switch",
        "z": "2b4350980b84d542",
        "name": "Usuário",
        "property": "Banco.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1440,
        "y": 1840,
        "wires": [
            [
                "5287e7d4dba9e8fb"
            ],
            [
                "7d0fd65a6c9abb3d"
            ]
        ]
    },
    {
        "id": "5287e7d4dba9e8fb",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Banco.status.user",
                "pt": "msg",
                "to": "Usuário Correto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 1800,
        "wires": [
            [
                "11aeaaddada12410"
            ]
        ]
    },
    {
        "id": "7d0fd65a6c9abb3d",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "Notificação",
        "rules": [
            {
                "t": "set",
                "p": "Banco.user",
                "pt": "msg",
                "to": "Usuário Inválido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 2060,
        "wires": [
            [
                "2f4e93875423d7d9"
            ]
        ]
    },
    {
        "id": "7af0243b045eebf5",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.user",
                "pt": "msg",
                "to": "Banco",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1880,
        "wires": [
            [
                "ee18fd6281143c3f"
            ]
        ]
    },
    {
        "id": "5e970df3efc89c59",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Validação User Admin",
        "info": "",
        "x": 1660,
        "y": 1740,
        "wires": []
    },
    {
        "id": "11aeaaddada12410",
        "type": "switch",
        "z": "2b4350980b84d542",
        "name": "Senha",
        "property": "Banco.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Banco.password",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "Banco.password",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1930,
        "y": 1800,
        "wires": [
            [
                "b9716952f3bf0334"
            ],
            [
                "dda0527c616ea4fb"
            ]
        ]
    },
    {
        "id": "3fd43ffa06ba8475",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Validação Senha Admin",
        "info": "",
        "x": 1980,
        "y": 1740,
        "wires": []
    },
    {
        "id": "b9716952f3bf0334",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "Acesso Autorizado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Login autorizado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2190,
        "y": 1800,
        "wires": [
            [
                "d230bd8171abbb2d",
                "2f4e93875423d7d9"
            ]
        ]
    },
    {
        "id": "dda0527c616ea4fb",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "Senha Inválida",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Senha Inválida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2180,
        "y": 1860,
        "wires": [
            [
                "2f4e93875423d7d9"
            ]
        ]
    },
    {
        "id": "d230bd8171abbb2d",
        "type": "change",
        "z": "2b4350980b84d542",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Cine Admin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2490,
        "y": 1800,
        "wires": [
            [
                "29e97dd8b30e4513",
                "19d80e345815e7be"
            ]
        ]
    },
    {
        "id": "2f4e93875423d7d9",
        "type": "ui_toast",
        "z": "2b4350980b84d542",
        "position": "top right",
        "displayTime": "1",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2450,
        "y": 2060,
        "wires": []
    },
    {
        "id": "19d80e345815e7be",
        "type": "ui_ui_control",
        "z": "2b4350980b84d542",
        "name": "",
        "events": "all",
        "x": 3160,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "29e97dd8b30e4513",
        "type": "template",
        "z": "2b4350980b84d542",
        "name": "Mostrar Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"show\": [\n            \"Cine Admin\",\n            \"Acesso Admin\"\n        ]\n    }\n}",
        "output": "json",
        "x": 2700,
        "y": 1880,
        "wires": [
            [
                "7960081e16b9ed06",
                "19d80e345815e7be"
            ]
        ]
    },
    {
        "id": "7960081e16b9ed06",
        "type": "template",
        "z": "2b4350980b84d542",
        "name": "Esconder Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"hide\": [\n            \"Acesso Usuário\",\n            \"Catálogo\"\n        ]\n    }\n}",
        "output": "json",
        "x": 2960,
        "y": 1880,
        "wires": [
            [
                "19d80e345815e7be"
            ]
        ]
    },
    {
        "id": "db95ca8e20c7ebc0",
        "type": "debug",
        "z": "2b4350980b84d542",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0f2a2ab263f91d24",
        "type": "ui_ui_control",
        "z": "2b4350980b84d542",
        "name": "",
        "events": "all",
        "x": 3260,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "2c5a1af80a3302e5",
        "type": "comment",
        "z": "2b4350980b84d542",
        "name": "Imprimir API de Filmes no Dashboard",
        "info": "",
        "x": 250,
        "y": 2120,
        "wires": []
    },
    {
        "id": "9403f7cd1f04f0c4",
        "type": "split",
        "z": "2b4350980b84d542",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 2180,
        "wires": [
            [
                "a8e745598acb6df9",
                "83b10e5681e8b643"
            ]
        ]
    },
    {
        "id": "41e00ab877aaf193",
        "type": "http request",
        "z": "2b4350980b84d542",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://swjeutfatzblzzfgssjv.supabase.co/rest/v1/db_filmes?select=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3amV1dGZhdHpibHp6Zmdzc2p2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDUzMjM1OTksImV4cCI6MjAyMDg5OTU5OX0.W-UuHIPi0HunFAyqOHuKTuqe2U8mQoZCe82n9S0l-10"
            }
        ],
        "x": 180,
        "y": 2180,
        "wires": [
            [
                "9403f7cd1f04f0c4"
            ]
        ]
    },
    {
        "id": "a8e745598acb6df9",
        "type": "debug",
        "z": "2b4350980b84d542",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 2320,
        "wires": []
    },
    {
        "id": "342b425fc6b26102",
        "type": "ui_table",
        "z": "2b4350980b84d542",
        "group": "8d930fe3b495cdc0",
        "name": "Filmes Cadastrados",
        "order": 2,
        "width": 30,
        "height": 17,
        "columns": [
            {
                "field": "id",
                "title": "ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "created_at",
                "title": "Adicionado em:",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "titulo",
                "title": "Título",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "descricao",
                "title": "Descrição",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "genero",
                "title": "Gênero",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "ano_de_lancamento",
                "title": "Ano de Lançamento",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duracao",
                "title": "Duração",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "classificacao_indicativa",
                "title": "Classificação Indicativa",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "idiomas",
                "title": "Idiomas",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "legendas",
                "title": "Legendas",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "direcao",
                "title": "Direção",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "roteiro",
                "title": "Roteiro",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "elenco",
                "title": "Elenco",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "avaliacao",
                "title": "Avaliação",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "imagemCapa",
                "title": "Capa",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1180,
        "y": 2180,
        "wires": []
    },
    {
        "id": "83b10e5681e8b643",
        "type": "join",
        "z": "2b4350980b84d542",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 2180,
        "wires": [
            [
                "da7a9fb2bf5fce39"
            ]
        ]
    },
    {
        "id": "da7a9fb2bf5fce39",
        "type": "sort",
        "z": "2b4350980b84d542",
        "name": "",
        "order": "ascending",
        "as_num": true,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 860,
        "y": 2180,
        "wires": [
            [
                "342b425fc6b26102"
            ]
        ]
    }
]