Projeto/flows_versao-final.json
[
    {
        "id": "ea04d7afd07bacfd",
        "type": "tab",
        "label": "Fluxo 2 - Ariel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60f8e7f61fd556ad",
        "type": "ui_media",
        "z": "ea04d7afd07bacfd",
        "group": "fa91e2b4459eb88a",
        "name": "",
        "width": "0",
        "height": "0",
        "order": 2,
        "category": "FilmesDisponiveis",
        "file": "clubedaluta.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "43f806850daf87dd",
        "type": "ui_button",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "group": "fa91e2b4459eb88a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "assistir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "Clube da Luta",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "60f8e7f61fd556ad",
                "c4dc23228e76f714"
            ]
        ]
    },
    {
        "id": "b36b0585642765e5",
        "type": "ui_media",
        "z": "ea04d7afd07bacfd",
        "group": "ac0fd183e4c0c506",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "FilmesDisponiveis",
        "file": "Aorigem_.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 490,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "13abaf9039ed060d",
        "type": "ui_button",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "group": "ac0fd183e4c0c506",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "assistir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "A Origem",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "b36b0585642765e5",
                "c4dc23228e76f714"
            ]
        ]
    },
    {
        "id": "10987fabbe9f87ce",
        "type": "ui_media",
        "z": "ea04d7afd07bacfd",
        "group": "e472f37a9e6bb690",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 1,
        "category": "FilmesDisponiveis",
        "file": "matrix.JPG",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 490,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e6b47399e808f93d",
        "type": "ui_button",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "group": "e472f37a9e6bb690",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "assistir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play_arrow",
        "payload": "Matrix",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "10987fabbe9f87ce",
                "c4dc23228e76f714"
            ]
        ]
    },
    {
        "id": "6c6533476b16f813",
        "type": "ui_button",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "group": "99f7765a2ea4223e",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Acessar Fiap Flix",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Acesso",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "60db65ed600570ac"
            ]
        ]
    },
    {
        "id": "60db65ed600570ac",
        "type": "ui_ui_control",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f610117fa53ff6ed",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Flow entre as páginas externas",
        "info": "",
        "x": 210,
        "y": 100,
        "wires": []
    },
    {
        "id": "e96d4dbbd21476ba",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Mídias do catálogo",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "aa84ee27260da50f",
        "type": "ui_form",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "label": "",
        "group": "17fe0df8b29e0cf7",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "usuário",
                "value": "user",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "password": ""
        },
        "payload": "",
        "submit": "acessar",
        "cancel": "Limpar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "086c662084ca0a5d"
            ]
        ]
    },
    {
        "id": "293c2b894710f07b",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Login",
        "info": "",
        "x": 130,
        "y": 900,
        "wires": []
    },
    {
        "id": "6b7ceaeb228587df",
        "type": "http request",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao?select=*",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            }
        ],
        "x": 600,
        "y": 960,
        "wires": [
            [
                "4383efcd738a3b55"
            ]
        ]
    },
    {
        "id": "086c662084ca0a5d",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "login",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 960,
        "wires": [
            [
                "6b7ceaeb228587df"
            ]
        ]
    },
    {
        "id": "4383efcd738a3b55",
        "type": "split",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 790,
        "y": 960,
        "wires": [
            [
                "58fe3ef3994f49e1"
            ]
        ]
    },
    {
        "id": "58fe3ef3994f49e1",
        "type": "switch",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "property": "payload.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 960,
        "wires": [
            [
                "5e914f0e304d054c"
            ],
            []
        ]
    },
    {
        "id": "6d89e13a1bf161ca",
        "type": "switch",
        "z": "ea04d7afd07bacfd",
        "name": "Usuário",
        "property": "Banco.user",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "login.user",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "login.user",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1360,
        "y": 940,
        "wires": [
            [
                "c247dc35239c4fff",
                "c82d7f239b69b076"
            ],
            [
                "c4a9a541b2467f67"
            ]
        ]
    },
    {
        "id": "c247dc35239c4fff",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Banco.status.user",
                "pt": "msg",
                "to": "Usuário Correto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 920,
        "wires": [
            [
                "fffc159c4a0d975c"
            ]
        ]
    },
    {
        "id": "c4a9a541b2467f67",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "Notificação",
        "rules": [
            {
                "t": "set",
                "p": "Banco.user",
                "pt": "msg",
                "to": "Usuário Inválido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 1020,
        "wires": [
            [
                "d6fad4a19d39d4a7"
            ]
        ]
    },
    {
        "id": "e54dc5c1154e3a7e",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Validação Usuário",
        "info": "",
        "x": 1570,
        "y": 880,
        "wires": []
    },
    {
        "id": "fffc159c4a0d975c",
        "type": "switch",
        "z": "ea04d7afd07bacfd",
        "name": "Senha",
        "property": "login.password",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Banco.password",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "Banco.password",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1870,
        "y": 820,
        "wires": [
            [
                "61f00cbac6bfa234"
            ],
            [
                "0e062c7fbda6bf42"
            ]
        ]
    },
    {
        "id": "b997adb676972213",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Validação Senha",
        "info": "",
        "x": 1900,
        "y": 760,
        "wires": []
    },
    {
        "id": "61f00cbac6bfa234",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "Acesso Autorizado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Login autorizado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 800,
        "wires": [
            [
                "5ae03a65487dc49e",
                "d6fad4a19d39d4a7"
            ]
        ]
    },
    {
        "id": "0e062c7fbda6bf42",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "Senha Inválida",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Senha Inválida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 860,
        "wires": [
            [
                "d6fad4a19d39d4a7"
            ]
        ]
    },
    {
        "id": "5e914f0e304d054c",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "Banco",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 960,
        "wires": [
            [
                "6d89e13a1bf161ca"
            ]
        ]
    },
    {
        "id": "d1ebc7c251e779a9",
        "type": "ui_ui_control",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "events": "all",
        "x": 3120,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "98df363ec5c29d0c",
        "type": "template",
        "z": "ea04d7afd07bacfd",
        "name": "Mostrar Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"show\": [\n            \"Catálogo\"\n        ]\n    }\n}",
        "output": "json",
        "x": 2660,
        "y": 880,
        "wires": [
            [
                "1d83084fb4a22cf2",
                "d1ebc7c251e779a9"
            ]
        ]
    },
    {
        "id": "1d83084fb4a22cf2",
        "type": "template",
        "z": "ea04d7afd07bacfd",
        "name": "Esconder Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"hide\": [\n            \"Home\",\n            \"Acesso\"\n        ]\n    }\n}",
        "output": "json",
        "x": 2920,
        "y": 880,
        "wires": [
            [
                "d1ebc7c251e779a9"
            ]
        ]
    },
    {
        "id": "5ae03a65487dc49e",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Catálogo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2430,
        "y": 800,
        "wires": [
            [
                "98df363ec5c29d0c",
                "d1ebc7c251e779a9",
                "dde727eb5af69e8e"
            ]
        ]
    },
    {
        "id": "c14a5e4f46fd1018",
        "type": "ui_ui_control",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "events": "all",
        "x": 1360,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "02bcd03ff274d02b",
        "type": "ui_ui_control",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "events": "all",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "d8d231362ed13c9f"
            ]
        ]
    },
    {
        "id": "dfb198406ab79d6f",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "c14a5e4f46fd1018"
            ]
        ]
    },
    {
        "id": "d8d231362ed13c9f",
        "type": "switch",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "dfb198406ab79d6f",
                "6cc3e5d638b25ad2"
            ]
        ]
    },
    {
        "id": "6cc3e5d638b25ad2",
        "type": "template",
        "z": "ea04d7afd07bacfd",
        "name": "Esconder Telas",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"tabs\": {\n        \"hide\": [\n            \"Acesso\",\n            \"Catálogo\"\n        ]\n    }\n}",
        "output": "json",
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "c14a5e4f46fd1018"
            ]
        ]
    },
    {
        "id": "9bed2926dd38e18f",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Esconder Páginas",
        "info": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "d6fad4a19d39d4a7",
        "type": "ui_toast",
        "z": "ea04d7afd07bacfd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2390,
        "y": 1020,
        "wires": []
    },
    {
        "id": "dde727eb5af69e8e",
        "type": "debug",
        "z": "ea04d7afd07bacfd",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2600,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a18c97e721d884d5",
        "type": "ui_button",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "group": "17fe0df8b29e0cf7",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Voltar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "60db65ed600570ac"
            ]
        ]
    },
    {
        "id": "0a2f768b5527cddb",
        "type": "csv",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1650,
        "y": 620,
        "wires": [
            [
                "edc049812f6f0bee"
            ]
        ]
    },
    {
        "id": "edc049812f6f0bee",
        "type": "file",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "filename": "C:\\FIAP_PosTech\\Lista_filmes.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1920,
        "y": 620,
        "wires": [
            [
                "be20a89b0903f39d"
            ]
        ]
    },
    {
        "id": "1416d8c03ebbb880",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 780,
        "wires": [
            [
                "5f851efd1b403113"
            ]
        ]
    },
    {
        "id": "c4dc23228e76f714",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "filme",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 700,
        "wires": [
            [
                "e75f8216cf7b58a6",
                "1416d8c03ebbb880"
            ]
        ]
    },
    {
        "id": "5f851efd1b403113",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "hora",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 740,
        "wires": [
            [
                "66d8b10e93d4606f"
            ]
        ]
    },
    {
        "id": "e75f8216cf7b58a6",
        "type": "join",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1470,
        "y": 600,
        "wires": [
            [
                "0a2f768b5527cddb",
                "4f152dc5510d0a6e"
            ]
        ]
    },
    {
        "id": "4f152dc5510d0a6e",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Comecei a assistir o filme \" & payload.filme",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Assistindo agora no FiapFLix",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 540,
        "wires": [
            [
                "51e2e44c6b22beaa"
            ]
        ]
    },
    {
        "id": "51e2e44c6b22beaa",
        "type": "debug",
        "z": "ea04d7afd07bacfd",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1960,
        "y": 460,
        "wires": []
    },
    {
        "id": "5b0896eb2faf06ee",
        "type": "ui_form",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "label": "",
        "group": "c6e235e31c1d38c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Insira um e-mail",
                "value": "user",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Crie uma senha",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "password": ""
        },
        "payload": "",
        "submit": "Criar conta",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "daffedcd0fb3ef04"
            ]
        ]
    },
    {
        "id": "8ed5a4b5e035ed96",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Register",
        "info": "",
        "x": 140,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5860934cbab55770",
        "type": "comment",
        "z": "ea04d7afd07bacfd",
        "name": "Equipe Grupo N",
        "info": "-Ariel Morikuni\n-Bruna Morimitsu\n-Carolyne Carvalho",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "daffedcd0fb3ef04",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "novoUsuario",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1160,
        "wires": [
            [
                "fa2bbc694c29009e"
            ]
        ]
    },
    {
        "id": "fa2bbc694c29009e",
        "type": "http request",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://qazlfsxxnbvcupqtqqxf.supabase.co/rest/v1/ctj_autorizacao",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "apikey",
                "valueType": "other",
                "valueValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFhemxmc3h4bmJ2Y3VwcXRxcXhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5Njg2MDU1MywiZXhwIjoyMDEyNDM2NTUzfQ.g-AmyyofnSMuew141w9ZM_TgpX23-tAKctFPOuoameI"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Prefer",
                "valueType": "other",
                "valueValue": "return=minimal"
            }
        ],
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "97586c831d2c65fe"
            ]
        ]
    },
    {
        "id": "18105adc5cac27bc",
        "type": "ui_toast",
        "z": "ea04d7afd07bacfd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 1160,
        "wires": []
    },
    {
        "id": "97586c831d2c65fe",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "Usuario Criado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuário cadastrado com sucesso",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1160,
        "wires": [
            [
                "18105adc5cac27bc"
            ]
        ]
    },
    {
        "id": "8a526a808b8c2a11",
        "type": "debug",
        "z": "ea04d7afd07bacfd",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2660,
        "y": 620,
        "wires": []
    },
    {
        "id": "66d8b10e93d4606f",
        "type": "moment",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "America/Sao_Paulo",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD-HH-mm",
        "locale": "pt-BR",
        "output": "",
        "outputType": "msg",
        "outTz": "America/Sao_Paulo",
        "x": 1240,
        "y": 700,
        "wires": [
            [
                "e75f8216cf7b58a6"
            ]
        ]
    },
    {
        "id": "c82d7f239b69b076",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "login.user",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 820,
        "wires": [
            [
                "dd95fa3eec4ade72"
            ]
        ]
    },
    {
        "id": "dd95fa3eec4ade72",
        "type": "change",
        "z": "ea04d7afd07bacfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "email",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 740,
        "wires": [
            [
                "e75f8216cf7b58a6"
            ]
        ]
    },
    {
        "id": "be20a89b0903f39d",
        "type": "GSheet",
        "z": "ea04d7afd07bacfd",
        "creds": "fcdebc18a2b9b832",
        "method": "append",
        "action": "",
        "sheet": "1gecRAZl62zvUNgpho9J6IbqlGvwcFzDt1C4QoT3mBVU",
        "cells": "Sheet1!A2:A100",
        "flatten": false,
        "name": "",
        "x": 2350,
        "y": 620,
        "wires": [
            [
                "8a526a808b8c2a11"
            ]
        ]
    },
    {
        "id": "66710222d7c9a542",
        "type": "ui_spacer",
        "z": "ea04d7afd07bacfd",
        "name": "spacer",
        "group": "17fe0df8b29e0cf7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa91e2b4459eb88a",
        "type": "ui_group",
        "name": "Clube da Luta",
        "tab": "3838a5fbee2aca48",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac0fd183e4c0c506",
        "type": "ui_group",
        "name": "A Origem",
        "tab": "3838a5fbee2aca48",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e472f37a9e6bb690",
        "type": "ui_group",
        "name": "Matrix",
        "tab": "3838a5fbee2aca48",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "99f7765a2ea4223e",
        "type": "ui_group",
        "name": "Seja Bem-vindo(a) à FiapFlix",
        "tab": "3368220ed7092bbb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17fe0df8b29e0cf7",
        "type": "ui_group",
        "name": "Acesso à Plataforma",
        "tab": "2c21bd2f5459b7c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6e235e31c1d38c3",
        "type": "ui_group",
        "name": "Criar conta",
        "tab": "2c21bd2f5459b7c6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fcdebc18a2b9b832",
        "type": "gauth",
        "name": "read-write-gsheet-node-red@fiapflix.iam.gserviceaccount.com"
    },
    {
        "id": "3838a5fbee2aca48",
        "type": "ui_tab",
        "name": "Catálogo",
        "icon": "theaters",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3368220ed7092bbb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c21bd2f5459b7c6",
        "type": "ui_tab",
        "name": "Acesso",
        "icon": "login",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]